.appWrapper {
  padding: 3rem 1rem;
}

header {
  background: black;
  color: white;
  padding: 1rem;
}

div[class^='table---thead'] {
  text-transform: capitalize;
}
div[class^='table---tr'] {
  cursor: pointer;
}
